<!DOCTYPE html>    
 <html>    
 <head>    
 	<meta charset="UTF-8">    
 	<base href="bURL">    
 	<title>Dodaj knjigu</title>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 </head>    
 <body>    
 	<ul>    
 		<li><a href="destinacije">Destinacije</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>    
 	</ul>    
 	<form method="post" action="add">    
 		<table>    
 			<caption>Destinacija</caption>    
 			<tr><th>Grad<td><input type="text" value="" name="grad"/></td></tr>   
 			<tr><th>Drzava:</th><td><input type="text" value="" name="drzava" /></td></tr>
 			<tr><th>Kontinent:</th><td><input type="text" value="" name="kontinent" /></td></tr>    
 			<tr><th></th><td><input type="submit" value="Dodaj"/></td>    
 		</table>    
 	</form>   
 	<br/>  
 </body>  
 </html>  		