<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">    
<head>    
    <meta charset="UTF-8">    
    <base th:href="@{/}">  
    <title th:text="#{organiser.add}"></title>
    <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
    <link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
</head>    
<body>    
    <ul>
        <li><a href="./" th:text="#{title.index}"></a></li>
    </ul>    
    <form method="post" action="putovanja/add">    
        <table>
            <caption th:text="#{organizer.reservation}"></caption>
            <input type="hidden" name="id" />
            <input type="hidden" th:name="grad" th:value="${param.grad}"/>
            <tr><th th:text="#{travel.id}"></th><td><input type="text" value="" name="sifraPutovanja"/></td><th></th></tr>
            <!-- <tr><th>Destinacija:</th><td><span th:text="grad" th:value="${param.grad}"></span></td><th></th></tr> -->
            <tr><th th:text="#{vehicle.type}"></th><td>
            <select class="form-control" id="dropDownListaPrevoznaSredstva" name="tipSredstva">
                <option value="0" th:text="#{vehicle.title}"></option>
                <option th:each="itPrevoznoSredstvo : ${prevoznaSredstva}" th:value="${itPrevoznoSredstvo.tipSredstva}" th:text="${itPrevoznoSredstvo.tipSredstva}"></option>
            </select>
            </td><th></th></tr>
            <tr><th th:text="#{unit.title2}"></th><td>
            <select class="form-control" id="dropDownListaSmestajneJedinice" name="nazivJedinice">
                <option value="0">Izaberi tip</option>
                <option th:each="itSmestajnaJedinica : ${smestajneJedinice}" th:value="${itSmestajnaJedinica.nazivJedinice}" th:text="${itSmestajnaJedinica.nazivJedinice}"></option>
            </select>
            </td><th></th></tr>
            <tr><th th:text="#{travel.category}"></th><td>
            <select class="form-control" id="dropDownListaKategorija" name="kategorija">
                <option value="0" th:text="#{travel.categoryChoose}"></option>
                <option th:each="itKategorija : ${T(com.ftn.PrviMavenVebProjekat.model.Kategorija).values()}" th:value="${itKategorija}" th:text="${itKategorija}"></option>
            </select>
            </td><th></th></tr>
            <tr><th th:text="#{travel.nights}"></th><td><input type="number" value="" name="brojNocenja"/></td><th></th></tr>
            <tr><th th:text="#{travelD.picture}"></th><td>
            <input type="file" id="slika" name="slika">
            </td><th></th></tr>

            <!-- Dynamic fields -->
            <tr>
                <th th:text="#{travel.numberOfTravels}"></th>
                <td><input type="number" id="numberOfRows" name="numberOfRows" min="1" value="1"/></td>
                <th></th>
            </tr>
            <tr>
                <tr><th th:text="#{travel.dateStart}"></th><th style="text-align:center" th:text="#{travel.dateEnd}"></th><th style="text-align:left" th:text="#{travel.price}"></th>
            </tr>
            <tr>
            <tbody id="dynamicFields">
                <!-- Dynamic fields will be inserted here -->
            </tbody>
            <!-- Dynamic fields -->
            </tr>
            <tr><th></th><td><input type="submit" th:value="#{organiser.add}"/></td><th></th></tr>
   
        </table>    
    </form>   
    <br/>  

    <script th:inline="javascript">
    
        /*<![CDATA[*/
        document.getElementById('numberOfRows').addEventListener('input', function() {
            var numberOfRows = parseInt(this.value);
            var dynamicFields = document.getElementById('dynamicFields');
            
            // Clear existing dynamic fields
            dynamicFields.innerHTML = '';

            // Generate new dynamic fields
            for (var i = 0; i < numberOfRows; i++) {
                var row = document.createElement('tr');
                row.innerHTML = `
                    <td><input type="datetime-local" name="startDateList"/></td>
                    <td><input type="datetime-local" name="endDateList"/></td>
                    <td><input type="number" name="priceOfTravelList"/></td>
                `;
                dynamicFields.appendChild(row);
            }
        });
        /*]]>*/
    </script>
</body>  
</html>
