<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Dodavanje u kolica</title>
</head>
<body>
	<ul>    
 		<li><a href="destinacije">Destinacije</a></li>    
 		<li><a href="korisnici">Korisnici</a></li>
 		<li><a href="./">Pocetna</a></li>   
 	</ul>  
	<form method="post" action="kolica/add">
		<input type="hidden" name="korisnikId" th:value="${session.prijavljeniKorisnik.id}"/>
		<input type="hidden" name="rezervisanoPutovanjeId" th:value="${putovanje.id}"/>
		<input type="hidden" name="pricesId" th:value="${price.id}"/>
		<div th:text="${price.id}"></div>
		<table class="forma">
			<caption>Putovanje</caption>
			<input type="hidden" id="originalPriceOfTravel" th:value="${price.priceOfTravel}" />
			<tr><th>Sifra putovanja:</th><td><input disabled th:value="${putovanje.sifraPutovanja}" name="sifraPutovanja"/></td></tr>
			<tr><th>Destinacija:</th><td><input type="text" disabled th:value="${destinacija.grad}" name="grad"/></td></tr>
			<tr><th>Prevozno Sredstvo:</th><td><input type="text" disabled th:value="${prevoznoSredstvo.tipSredstva}" name="tipSredstva"/></td></tr>
			<tr><th>Smestajna Jedinica:</th><td>
	            <select class="form-control" id="dropDownListaSmestajneJedinice" name="smestajnaJedinica">
	                <option value="0">Izaberi Jedinicu</option>
	                <option th:each="itSmestajnaJedinica : ${smestajneJedinice}" th:value="${itSmestajnaJedinica.nazivJedinice}" th:text="${itSmestajnaJedinica.nazivJedinice}"></option>
	            </select>
			</td></tr>
			<tr><th>Broj Putnika:</th><td><input type="number" min="1" max="6" value="1" id="brojPutnika" name="brojPutnika" oninput="updatePrice()"/></td></tr>
			<tr><th>Datum polaska:</th><td>
			    <input type="datetime-local" id="startDate" name="startDate" th:value="${price.startDate}" disabled/>
			</td></tr>
			<tr><th>Datum povratka:</th><td>
			    <input type="datetime-local" id="endDate" name="endDate" th:value="${price.endDate}" disabled></input>
			</td></tr>
			
			<tr><th>Broj Nocenja:</th><td><input type="number" disabled th:value="${putovanje.brojNocenja}" name="brojNocenja"/></td></tr>
			<tr>
				<th>Cene:</th>
				<td>
					<input type="number" id="priceOfTravel" name="ukupnaCena" th:value="${price.priceOfTravel}" readonly/>
				</td>
			</tr>
			<!-- <tr><th></th><td><input type="hidden" th:value="${korisnik.uloga}" name="uloga"/></td></tr> --> 
			<tr><th></th><td><input type="submit" value="Dodaj U korpu"/></td></tr>
		</table>

	</form>
	<script th:inline="javascript">
    /*<![CDATA[*/
		function updatePrice() {
		    var originalPriceOfTravel = parseFloat(document.getElementById('originalPriceOfTravel').value);
		    var brojPutnika = parseFloat(document.getElementById('brojPutnika').value);
		    
		    // Ensure brojPutnika is a valid number
		    if (isNaN(brojPutnika) || brojPutnika < 1) {
		        brojPutnika = 1;
		    }
		
		    var totalPrice = originalPriceOfTravel * brojPutnika;
		    
		    // Display the updated total price
		    document.getElementById('priceOfTravel').value = totalPrice.toFixed(2);
		}
    /*]]>*/
</script>
	
</body>
</html>