<!DOCTYPE html>    
 <html xmlns:th="http://www.thymeleaf.org">    
 <head>    
 	<meta charset="UTF-8">    
 	<base th:href="@{/}">  
 	<title th:text="#{unit.add}"></title>
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 </head>    
 <body>    
 	<ul>    
 		<li><a href="./" th:text="#{title.index}"></a></li>
 	</ul>    
 	<form method="post" action="smestajneJedinice/add">    
 		<table>
 			<caption th:text="#{unit.title2}"></caption>
 			<input type="hidden" name="id" />
 			<tr><th th:text="#{unit.name}">:<td><input type="text" value="" name="nazivJedinice"/></td></tr>
 			<tr><th th:text="#{destination.city}">:</th><td>
 			<select class="form-control" id="dropDownListaDestinacije" name="grad">
    		<option value="0" th:text="#{destination.city}"></option>
    		<option th:each="itDestinacija : ${destinacije}" th:value="${itDestinacija.grad}" th:text="${itDestinacija.grad}"></option>
			</select>
			</td></tr>
 			<tr><th th:text="#{unit.capacity}"></th><td><input type="number" value="" name="kapacitet" /></td></tr>
 			<tr><th th:text="#{unit.name}">:</th><td>
 			<select class="form-control" id="dropDownListaTipJedinica" name="nazivTipaJedinice">
    		<option value="0" th:text="#{unit.type}"></option>
    		<option th:each="itTipJedinice : ${tipJedinica}" th:value="${itTipJedinice.nazivTipaJedinice}" th:text="${itTipJedinice.nazivTipaJedinice}"></option>
			</select>
			</td></tr>
 			<tr><th>Wifi<td>
 			<input type="checkbox" name="uslugaWifi" th:checked="${smestajnaJedinica.uslugaWifi}" />
 			<input type="hidden" name="uslugaWifi" th:value="false" />
 			</td></tr>
 			<tr><th>TV<td>
 			<input type="checkbox" name="uslugaTv" th:checked="${smestajnaJedinica.uslugaTv}" />
 			<input type="hidden" name="uslugaTv" th:value="false" />
 			</td></tr>
 			<tr><th th:text="#{unit.serviceBathroom}"><td>
 			<input type="checkbox" name="uslugaKupatilo" th:checked="${smestajnaJedinica.uslugaKupatilo}" />
 			<input type="hidden" name="uslugaKupatilo" th:value="false" />
 			</td></tr>
 			<tr><th th:text="#{unit.description}"><td><input type="text" value="" name="opis"/></td></tr>
 			<input type="hidden" name="recenzija" value="0"/>
 			<tr><th></th><td><input type="submit" th:value="#{unit.add}"/></td>
 		</table>    
 	</form>   
 	<br/>  
 </body>  
 </html>  		