<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Osnovna stranica projekta</title>
</head>
<body>
	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<tr><th>Prijavljeni ste kao</th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="korisnici/logout">odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="korisnici/registracija">registracija</a></li>
					<li><a href="korisnici/login">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="/PrviMavenVebProjekat/korisnici">Korisnici</a></li>
		<li><a href="/PrviMavenVebProjekat/korisnici/registracija">Registruj se</a></li>
		<li><a href="/PrviMavenVebProjekat/korisnici/login">Uloguj se</a></li>
		<li><a href="/PrviMavenVebProjekat/korisnici/logout">Izloguj se</a></li>
		<li><a href="/PrviMavenVebProjekat/destinacije">Destinacije</a></li>
		<li><a href="/PrviMavenVebProjekat/putovanja">Putovanja</a></li>
	</ul>
	<br/>
</body>
</html>