<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<base th:href="@{/}">
		<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<ul>
			<li>
				<a href="destinacije">Destinacije</a>
			</li>
		</ul>
		
		<table>
			<caption>Korisnici</caption>
				<tr>
					<th>Redni broj</th>
					<th>Korisnicko Ime</th>
					<th>Email</th>
					<th>Ime</th>
					<th>Prezime</th>
					<th>Datum Rodjenja</th>
					<th>Adresa</th>
					<th>Broj Telefona</th>
				</tr>
				<tr th:each="itKorisnik, status : ${korisnici}">
					<td th:text="${(status.index + 1) + '.'}"></td>
					<!--<td>
						<a th:href="|destinacije/details?id=${itKorisnik.id}|"
							th:text="${itKorisnik.grad}">
						</a>
					</td>-->
					<td th:text="${itKorisnik.korisnickoIme}"></td>
					<td th:text="${itKorisnik.email}"></td>
					<td th:text="${itKorisnik.ime}"></td>
					<td th:text="${itKorisnik.prezime}"></td>
					<td th:text="${itKorisnik.datumRodjenja}"></td>
					<td th:text="${itKorisnik.adresa}"></td>
					<td th:text="${itKorisnik.brojTelefona}"></td>
					<td>
						<form method="post" action="korisnici/delete">
							<input type="hidden" name="id" th:value="${itKorisnik.id}"/>
							<input type="submit" value="Obrisi"/>
						</form>
					</td>
					<td>
						<form th:action="@{/}">
							<a th:href="|korisnici/details?id=${itKorisnik.id}|"
								th:text="Izmeni">
							</a>
						</form>
					</td>
				</tr>
		</table>
		<ul>
			<li><a href="korisnici/registracija">Registruj se</a></li>
		</ul>
	
	</body>
</html>