<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
    <meta charset="UTF-8">
    <title th:text="#{wishlist.title}"></title>
</head>
<body>
<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
    <tr><th th:text="#{login.name}"></th><td><a th:href="|korisnici/details?id=${session.prijavljeniKorisnik.id}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
    <tr>
        <td colspan="2">
            <ul>
                <li><a th:href="|kolica?id=${session.prijavljeniKorisnik.id}|" th:text="#{putnik.cart}"></a></li>
                <li><a href="korisnici/logout" th:text="#{page.logout}"></a></li>
                <li th:if="${session.prijavljeniKorisnik.isAdmin()}"><a href="zahtevi" th:text="#{admin.card}"></a></li>
                <li><a href="./" th:text="#{title.index}"></a></li>
            </ul>
        </td>
    </tr>
</table>
<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
    <tr><th th:text="#{logged.out}"></th></tr>
    <tr>
        <td>
            <ul>
                <li><a href="korisnici/registracija" th:text="#{user.registration}"></a></li>
                <li><a href="korisnici/login" th:text="#{user.login}"></a></li>
            </ul>
        </td>
    </tr>
</table>

    <table>
        <caption th:text="#{wishlist.title}"></caption>
        <tr>
            <th th:text="#{util.number}"></th>
            <th th:text="#{destination.picture}"></th>
            <th th:text="#{travel.id}"></th>
            <th th:text="#{destination.title2}"></th>
            <th th:text="#{unit.title2}"></th>
            <th th:text="#{vehicle.title2}"></th>
            <th th:text="#{travel.category}"></th>
            <th th:text="#{travel.dateStart}"></th>
            <th th:text="#{travel.dateEnd}"></th>
            <th th:text="#{travel.price}"></th>
            <th th:text="#{travel.price}"></th>
        </tr>
        <tr th:each="itPutovanje, status : ${putovanja}">
            <td th:text="${(status.index + 1) + '.'}"></td>
            <!--<td>
                <a th:href="|destinacije/details?id=${itDestinacija.id}|"
                    th:text="${itDestinacija.grad}">
                </a>
            </td>-->
            <td th:text="${itPutovanje.sifraPutovanja}"></td>
            <td>
                <img alt="slika" th:src="${itPutovanje.slika}" width="256" height="128">
            </td>
            <td><a th:text="${destinacije[status.index].grad}" th:href="|destinacije/details?id=${itPutovanje.idDestinacije}|"></a></td>
            <td><a th:text="${smestajneJedinice[status.index].nazivJedinice}" th:href="|smestajneJedinice/details?id=${itPutovanje.idSmestajnaJedinica}|"></a></td>
            <td><a th:text="${prevoznaSredstva[status.index].tipSredstva}" th:href="|prevoznaSredstva/details?id=${itPutovanje.idPrevoznoSredstvo}|"></a></td>
            <td th:text="${itPutovanje.kategorija}"></td>
            <td>
                <ul>
                    <li th:each="itPrice: ${pricesList[status.index]}"><p th:text="${itPrice.startDate}"></p></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="itPrice: ${pricesList[status.index]}"><p th:text="${itPrice.endDate}"></p></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="itPrice: ${pricesList[status.index]}"><p th:text="${itPrice.priceOfTravel}"></p></li>
                </ul>
            </td>
            <!-- <ul><span th:text="${pricesList[status.index].class.simpleName}"></span></ul> -->
            <td th:text="${itPutovanje.brojNocenja}"></td>
            <td th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.isPutnik()}">
                <li th:each="itPrice, priceStatus : ${pricesList[status.index]}">
                    <form th:action="@{/}">
                        <a th:href="|kolica/add?id=${itPutovanje.id}&grad=${destinacije[status.index].grad}&tipSredstva=${prevoznaSredstva[status.index].tipSredstva}
								&nazivJedinice=${smestajneJedinice[status.index].nazivJedinice}&priceId=${itPrice.id}&startDate=${itPrice.startDate}&endDate=${itPrice.endDate}&priceOfTravel=${itPrice.priceOfTravel}|"

                           th:text="#{cart.add}">
                        </a>
                    </form>
                </li>
            </td>
            <td th:if="${session.prijavljeniKorisnik != null}">
                <form method="post" action="listeZelja/delete">
                    <input type="hidden" name="id" th:value="${listeZelja[status.index].id}"/>
                    <input type="submit" th:value="#{button.delete}"/>
                </form>
            </td>
        </tr>
    </table>


</body>
</html>