<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title th:text="#{user.login}"></title>
</head>
<body>
	<ul>
		<li><a href="./" th:text="#{title.index}"></a></li>
	</ul>
	<div>
	<form method="post" action="korisnici/login">
		<table class="forma">
			<caption th:text="#{user.login}"></caption>
			<tr><th th:text="#{user.email}">:</th><td><input type="text" name="email"/></td></tr>
			<tr><th th:text="#{user.password}">:</th><td><input type="password" name="lozinka"/></td></tr>
			<tr><th></th><td><input type="submit" th:value="#{user.login}"/></td></tr>
		</table>
	</form>
	<p th:text="${greska}"></p>
	</div>
</body>
</html>