<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<base th:href="@{/}">
		<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
		<meta charset="UTF-8">
		<title th:text="#{vehicle.title}"></title>
	</head>
	<body>
		<ul>
			<li>
				<a href="./" th:text="#{title.index}"></a>
			</li>
		</ul>
		
		<table>
			<caption th:text="#{vehicle.title}"></caption>
				<tr>
					<th>Redni Broj</th>
					<th th:text="#{vehicle.type}"></th>
					<th th:text="#{vehicle.numberSeats}"></th>
					<th th:text="#{vehicle.destination}"></th>
					<th th:text="#{vehicle.description}"></th>
				</tr>
				<tr th:each="itPrevoznoSredstvo, status : ${prevoznaSredstva}">
					<td th:text="${(status.index + 1) + '.'}"></td>
					<td th:text="${itPrevoznoSredstvo.tipSredstva}"></td>
					<td th:text="${itPrevoznoSredstvo.brojSedista}"></td>
					<td><a th:text="${destinacije[status.index].grad}" th:href="|destinacije/details?id=${itPrevoznoSredstvo.krajnjaDestinacija}|"></a></td>
					<td th:text="${itPrevoznoSredstvo.opis}"></td>
					<td>
						<form method="post" action="smestajneJedinice/delete">
							<input type="hidden" name="id" th:value="${itPrevoznoSredstvo.id}"/>
							<input type="submit" th:value="Obrisi"/>
						</form>
					</td>
					<td>
						<form th:action="@{/}">
							<a th:href="|prevoznaSredstva/details?id=${itPrevoznoSredstvo.id}|"
								th:text="#{button.edit}">
							</a>
						</form>
					</td>
				</tr>
		</table>
		<ul>
			<li><a href="prevoznaSredstva/add" th:text="#{vehicle.add}"></a></li>
		</ul>
	
	</body>
</html>