<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<base th:href="@{/}">
		<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
		<meta charset="UTF-8">
		<title>Prevozna Sredstva</title>
	</head>
	<body>
		<ul>
			<li>
				<a href="destinacije">Destinacije</a>
				<a href="korisnici">Korisnici</a>
				<a href="putovanja">Putovanja</a>
				<a href="smestajneJedinice">Smestajne Jedinice</a>
			</li>
		</ul>
		
		<table>
			<caption>Prevozna Sredstva</caption>
				<tr>
					<th>Redni Broj</th>
					<th>Tip Sredstva</th>
					<th>Broj sedista</th>
					<th>Destinacija</th>
					<th>Opis</th>
				</tr>
				<tr th:each="itPrevoznoSredstvo, status : ${prevoznaSredstva}">
					<td th:text="${(status.index + 1) + '.'}"></td>
					<td th:text="${itPrevoznoSredstvo.tipSredstva}"></td>
					<td th:text="${itPrevoznoSredstvo.brojSedista}"></td>
					<td><a th:text="${destinacije[status.index].grad}" th:href="|destinacije/details?id=${itPrevoznoSredstvo.krajnjaDestinacija}|"></a></td>
					<td th:text="${itPrevoznoSredstvo.opis}"></td>
					<td>
						<form method="post" action="smestajneJedinice/delete">
							<input type="hidden" name="id" th:value="${itPrevoznoSredstvo.id}"/>
							<input type="submit" value="Obrisi"/>
						</form>
					</td>
					<td>
						<form th:action="@{/}">
							<a th:href="|prevoznaSredstva/details?id=${itPrevoznoSredstvo.id}|"
								th:text="Izmeni">
							</a>
						</form>
					</td>
				</tr>
		</table>
		<ul>
			<li><a href="destinacije/add">Dodaj Destinaciju</a></li>
		</ul>
	
	</body>
</html>