<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title th:text="#{travel.title2}"></title>
</head>
<body>
	<ul>
 		<li><a href="./" th:text="#{title.index}"></a></li>
 	</ul>
	<form method="post" action="putovanje/edit">
		<input type="hidden" name="id" th:value="${putovanje.id}"/>
		<table class="forma">
			<caption th:text="#{travel.title2}"></caption>
			<tr><th th:text="#{travel.id}">:</th><td><input type="text" th:value="${putovanje.sifraPutovanja}" name="sifraPutovanja"/></td></tr>
			<tr><th th:text="#{destination.city}">:</th><td><input type="text" th:value="${destinacija.grad}" name="grad"/></td></tr>
			<tr><th th:text="#{vehicle.type}">:</th><td><input type="text" th:value="${prevoznoSredstvo.tipSredstva}" name="tipSredstva"/></td></tr>
			<tr><th th:text="#{unit.title2}">:</th><td><input type="text" th:value="${smestajnaJedinica.nazivJedinice}" name="nazivJedinice"/></td></tr>
			<tr><th th:text="#{travel.category}">:</th><td><input type="text" th:value="${putovanje.kategorija}" name="kategorija"/></td></tr>
			<tr>
				<th th:text="#{travel.dateStart}">:</th>
				<td>
					<input type="datetime-local" th:each="itPrice: ${prices}" th:value="${itPrice.startDate}" name="startDate"/>
				</td>
			</tr>
			<tr>
				<th th:text="#{travel.dateEnd}">:</th>
				<td>
					<input type="datetime-local" th:each="itPrice: ${prices}" th:value="${itPrice.endDate}" name="endDate"/>
				</td>
			</tr>
			
			<tr><th th:text="#{travel.nights}">:</th><td><input type="number" th:value="${putovanje.brojNocenja}" name="brojNocenja"/></td></tr>
			<tr><th th:text="#{travelD.picture}"></th><td>
            	<input type="file" id="slika" name="slika" th:value="${putovanje.slika}">
            </td></tr>
			<tr>
				<th th:text="#{travel.price}">:</th>
				<td>
					<input type="number" th:each="itPrice: ${prices}" th:value="${itPrice.priceOfTravel}" name="price"/>
				</td>
			</tr>
			<!-- <tr><th></th><td><input type="hidden" th:value="${korisnik.uloga}" name="uloga"/></td></tr> --> 
			<tr><th></th><td><input type="submit" th:value="#{button.edit}"/></td></tr>
		</table>
	</form>
	<form method="post" action="putovanja/delete">
		<input type="hidden" name="id" th:value="${putovanje.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" th:value="#{button.delete}"/></td></tr>
		</table>
	</form>
</body>
</html>