<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
  <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
  <link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
  <title th:text="#{card.requests}"></title>
</head>
<body>
  <table>
    <caption th:text="#{card.requests}"></caption>
    <tr>
      <th th:text="#{util.number}"></th>
      <th th:text="#{user.name}"></th>
      <th th:text="#{user.surname}"></th>
    </tr>
    <tr th:each="itZahtev, status : ${zahteviKartice}">
      <td th:text="${(status.index + 1) + '.'}"></td>
      <td th:text="${korisnici[status.index].ime}"></td>
      <td th:text="${korisnici[status.index].prezime}"></td>
      <td>
        <form method="post" action="zahtevi/odbij">
          <input type="hidden" name="id" th:value="${itZahtev.id}"/>
          <input type="hidden" name="idKorisnika" th:value="${korisnici[status.index].id}" />
          <input type="submit" th:value="#{card.decline}"/>
        </form>
      </td>
      <td>
        <form method="post" action="zahtevi/odobri">
          <input type="hidden" name="id" th:value="${itZahtev.id}"/>
          <input type="hidden" name="idKorisnika" th:value="${korisnici[status.index].id}" />
          <input type="submit" th:value="#{card.accept}"/>
        </form>
      </td>
    </tr>
  </table>

</body>
</html>